/.DS_Store
/CMakeCache.txt
/cmake_install.cmake
/src/version.h
/libcapn.pc
/config.h
/CMakeFiles/
*.o
*.lib
*.a
*.lib
*.so
*.so.*
*.dylib
*.out
*.app

/docs/def
/docs/html
/docs/man
src/library/apn_platform.h
src/library/apn_version.h
apn-pusher
libcapn-config
Makefile
src/config/apn_config.c
install_manifest.txt
